body {
    background-color: bisque;
}


.resaltado {
    background-color: blue;
    color: white;
}

nav a {
    text-decoration:  none;
    background-color: black;
    color: yellow;
}

nav a:hover {
    background-color: green;
    color: black;
    font-size: 18px;
}

th {
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: grey;
    color: black;
}

tr:nth-child(odd) {
    background-color: lightgrey;
    color: black;
}